#titulo_principal {

   background-color: #8B6F1E;
    color: white;


}

.titulo_secundario {
   background-color: #2F4F2F;
    color: white


}

body {
     background-color: black; 
     color: Rgb(255,255,255);
     font-family: "Roboto", sans-serif;
     font-size: 16px;


}

#layout { 
        display: flex;



}


